Subject line: Letter of Recommendation Request for [{{job.job.job_title}}]

Hi [First Name or Mr./Mrs./Dr. Last Name],

I am in the process of applying for a [{{job.job.job_title}}] position with [{{job.job.recruiter.company_name}}]
I would greatly appreciate it if you would write a letter of recommendation describing my competence in the areas of development and successful experience managing .

The application is due [insert deadline], to be submitted via [insert submission requirements from the prospective employer]. A copy of my current resume and [insert supporting materials provided, if any] is attached for your review. I am happy to discuss further or answer any outstanding questions you might have.

Thank you in advance for your consideration.

Best,

[{{job.first_name}}]
[{{job.mobile}}]
[{{job.email}}]


Resume {{job.cv}}

