Hi [{{job.first_name}}],

Welcome to [{{job.job.recruiter.company_name}}]! I'm so excited to have you join us. We're feeling pretty lucky that you chose us, and I just wanna say thank you on behalf of our whole company.

To get you settled, I wanted to share with you some of our best resources so you can make the most out of your experience with us. Subscribe to our blog [add link] for some great tips and knowledge to be successful in your industry. Check out our Instagram [add link], Facebook [add link], and Twitter [add link] for your daily dose of industry news, advice, and behind-the-scenes looks.

If you're interested in learning more about your product, feel free to contact me or anyone else on our support team at any time. We're always here to help you in any way we can.

Cheers,

[Team SIPL]